<div id="containerFilter">
  <p class="filterText">Filters:</p>
  <div class="filterContainerNavigation">
    <div class="filterInputAndBtn">
      <input
        class="filtersInput"
        name="serch"
        placeholder="Search for anything"
      />
      <button class="filtersBtn" type="submit">
        <svg class="icon-baseline-search" width="20" height="20">
          <use href="../img/sprite.svg#icon-baseline-search"></use>
        </svg>
      </button>
    </div>
    <select class="filters-select">
      <option disabled selected hidden>Categories</option>
    </select>
  </div>
</div>
<!-- <script type="module" src="./js/filters.js"></script> -->
