<footer>
  <div class="footer-top-div">
    <div>
      <div class="footer-logo-div">
        <a href="../index.html" class="footer-logo-link">
          <svg width="32" height="32" class="footer-icon-svg">
            <use href="./img/sprite.svg#icon-green-logo"></use>
          </svg>
          Food Boutique
        </a>
      </div>

      <div class="footer-social-div">
        <a href="https://www.facebook.com/goITclub/" class="footer-icon-link">
          <svg width="40" height="40" class="footer-icon-social">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>

        <a href="https://www.instagram.com/goitclub/" class="footer-icon-link">
          <svg width="40" height="40" class="footer-icon-social">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>

        <a href="https://www.youtube.com/c/GoIT" class="footer-icon-link">
          <svg width="40" height="40" class="footer-icon-social">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="central-and-form-divs">
      <div class="footer-central-div">
        <h2 class="footer-central-h2">
          Discover the Variety of Flavors and Quality
        </h2>
        <p class="footer-central-p">
          An online store where you will find fresh, natural and delicious
          products for a healthy life and unforgettable gastronomic adventures.
        </p>
      </div>

      <form class="footer-form">
        <label for="email">Subscribe and learn about new products!</label>
        <input
          type="email"
          placeholder="Email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}[^\s]+$"
        />
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="footer-rights-p">Food Boutique. All rights reserved.</p>

    <div class="footer-privacy">
      <p>Privacy Policy</p>
      <p>/</p>
      <p>Terms of Service</p>
    </div>
  </div>
</footer>
