
<header class="header">
  <section class="section header-section">
    <div class="header-container container">
      <div class="logo-section">
        <a class="logo-link link" href="./index.html">
         <svg class="logo-img">
          <use href="./img/sprite.svg#icon-white-logo"></use>
        </svg>
         <span class="logo-text">Food Boutique</span>
        </a>
      </div>
        <nav class="header-nav">
        <ul class="header-list list">
          <li class="header-home">
            <a class="header-home-link link" href="./index.html">Home</a>
          </li>
          <li class="header-cart">

            <a class="header-cart-link" href="./shopping-cart.html">

            <button class="header-cart-btn">
              <svg class="cart-img">
                <use href="../img/sprite.svg#icon-white-basket"></use>
              </svg>
              </button>
            <span class="header-cart-text">CART (<span id="itemsCount">0</span>)</span> 
            </a>
          </li>
        </ul>
        </nav>
    </div>
  </section>
  <script type="module" src="./js/header.js"></script>
  </header>