.carts-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.carts {
  font-size: 12px;
  line-height: 1.16;
  color: var(--third-dark-color);
  /* margin-bottom: 80px; */
}

@media (min-width: 768px) {
  .carts {
    /* margin-bottom: 100px; */
  }
}

.carts-all-products {
  padding-top: 40px;
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .carts-all-products {
    padding-bottom: 100px;
  }
}

@media (min-width: 1440px) {
  .carts-all-products {
    display: flex;
    gap: 40px;
    padding: 60px 0;
  }
}

.carts-left {
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .carts-left {
    padding-bottom: 100px;
  }
}

@media (min-width: 1440px) {
  .carts-left {
    max-width: 925px;
    padding-bottom: 0;
  }

  .carts-right {
    max-width: 275px;
  }
}

.products-container {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .products-container {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .products-container {
    margin-bottom: 40px;
  }
}

.card-container-list {
  /* margin-bottom: 40px; */
  /*padding: 40px 0;  Узгодити */
}

@media (min-width: 768px) {
  .card-container-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1440px) {
  .card-container-list {
    gap: 40px 20px;
    margin-bottom: 40px;
  }
}

.photo-card-list {
  font-family: var(--main-font);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--light-color);

  box-shadow: 0px 9.1px 16.534px 0px rgba(0, 0, 0, 0.02),
    0px 41.6px 46.475px 0px rgba(0, 0, 0, 0.04),
    0px 105.3px 124.678px 0px rgba(0, 0, 0, 0.05),
    0px 208px 286px 0px rgba(0, 0, 0, 0.07);

  transition: transform 0.3s var(--transition-cub);
}

@media (min-width: 768px) {
  .photo-card-list {
    flex-basis: calc((100% - 32px) / 2);
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .photo-card-list {
    flex-basis: calc((100% - 40px) / 3);
  }
}

.photo-card-list:hover {
  transform: scale(1.05);
}

.img-container-list {
  background: var(--backgrownd-color);
  margin-bottom: 20px;
  padding: 19px 78px;
  border-radius: 10px;
}

@media (min-width: 1440px) {
  .img-container-list {
    padding: 19px 58px;
  }
}

.product-atributes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 40px;
}

@media (min-width: 1440px) {
  .product-atributes-list {
    padding-bottom: 20px;
  }
}

.atributes-list {
  color: rgba(1, 1, 1, 0.3);
}

.product-name-list {
  color: var(--third-dark-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .product-name-list {
    font-size: 20px;
    line-height: 1.2;
  }
}

.atributes-info-list {
  font-size: 12px;
  /* margin-bottom: 40px; */
  line-height: 1.17;
}

.price-and-btn-list {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.product-price-list {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 0;
}

.cart-btn-list {
  background-color: var(--primary-dark-color);
  border-radius: 30px;
  border-color: transparent;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s var(--transition-cub);
}
.cart-btn-list:hover {
  background-color: var(--secondary-dark-color);
}

/* Scroll up */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--primary-dark-color); /* Set a background color */
  color: var(--light-color); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px 12px; /* Some padding */
  border-radius: 27px; /* Rounded corners */
  font-size: 14px; /* Increase font size */
  font-family: var(--main-font);
}

#myBtn:hover {
  background-color: var(
    --secondary-dark-color
  ); /* Add a dark-grey background on hover */
}
