.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(01, 01, 01, 0.4);
  transition: opacity 250ms var(--transition-cub),
    visibility 250ms var(--transition-cub);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 335px;
  height: 535px;
  background-color: var(--light-color);
  border-radius: 20px;
  transition: transform 250ms var(--transition-cub);
  padding: 40px 20px;
}
.modal-button {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
/* .modal-button:hover,
.modal-button:focus {
  background-color: var(--color-pressed-state);
  border: none;
  fill: var(--color-white-background);
} */
.modal-close {
  transition: fill 250ms var(--transition-cub);
}

.modal-img-div {
  width: 295px;
  height: 212px;
  border-radius: 10px;
  background-color: var(--backgrownd-color);
  margin-bottom: 20px;
}

.modal-img {
  padding: 26px 67px 26px 68px;
  /* width: 160px;
  height: 160px; */
}

.modal-title {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 10px;
}
.modal-label {
  font-family: var(--main-font);
  color: rgba(1, 1, 1, 0.3);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  padding-right: 8px;
  padding-bottom: 9px;
}
.modal-value {
  font-family: var(--main-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  padding-right: 8px;
}

.modal-description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding-top: 11px;
  overflow: auto;
  height: 150px;
}

.modal-price-button {
  display: flex;
  justify-content: space-between;
}

.modal-cart-button {
  padding: 12px 24px;
  background-color: var(--primary-dark-color);
  color: var(--backgrownd-color);
  border-radius: 30px;
  border: none;
}

.modal-cart-button:hover,
.modal-cart-button:focus {
  background-color: var(--secondary-dark-color);
}

.modal-price {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.modal-button-img {
  margin-left: 10px;
  /* position: relative;
  top: 12px; */
}
.modal-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.modal-shopping-cart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 335px;
  height: 428px;
  background-color: var(--light-color);
  border-radius: 20px;
  transition: transform 250ms var(--transition-cub);
  padding: 40px 20px 60px 20px;
}

.modal-img-shopping-cart {
  margin: 0 auto;
}

.modal-shopping-cart-title {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 20px;
}
.modal-shopping-cart-text {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}

@media (min-width: 768px) {
  .modal-button {
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
  }

  .modal {
    width: 600px;
    height: 380px;
    padding: 40px;
  }
  .modal-img-desk {
    display: flex;
  }
  .modal-img-div {
    min-width: 240px;
    height: 212px;
    margin-right: 24px;
  }

  .modal-img {
    padding: 26px 40px;
  }

  .modal-shopping-cart {
    width: 560px;
    height: 509px;
    padding: 80px 40px;
  }

  .modal-shopping-cart-title {
    font-size: 32px;
    line-height: 32px; /* 100% */
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .modal-shopping-cart-text {
    font-size: 18px;
    line-height: 24px;
  }
}
