.tui-pagination {
  width: 280px !important;
  height: 29.5px !important;
  margin: 0px auto !important;
  display: flex;
  gap: 4px;
  line-height: normal;
  text-align: center;
  font-size: 0;
  justify-content: center;
}

/* .tui-page-btn .tui-prev-is-ellip .tui-first-child {
  display: none !important;
} */

@media screen and (min-width: 387px) {
  .tui-pagination {
    width: 312px !important;
    height: 33.5px !important;
  }
}

@media screen and (min-width: 768px) {
  .tui-pagination {
    width: 530px !important;
    height: 40px !important;
    gap: 8px;
    /* margin: 0px auto 100px auto !important; */
  }
}

@media screen and (min-width: 1440px) {
  .tui-pagination {
    width: 530px !important;
    height: 40px !important;
    margin: 0px auto !important;
  }
}

.tui-page-btn {
  width: 29.5px !important;
  height: 29.5px !important;
  text-align: center !important;
  border-radius: 60px !important;
  /* margin-left: 4px !important; */
}

@media screen and (min-width: 387px) {
  .tui-page-btn {
    width: 33.5px !important;
    height: 33.5px !important;
    text-align: center !important;
    border-radius: 60px !important;
    /* margin-left: 4px !important; */
  }
}

@media screen and (min-width: 768px) {
  .tui-page-btn {
    width: 40px !important;
    height: 40px !important;
  }
}

.tui-ico-prev .tui-ico-next {
  color: #a3a3a3 !important;
  text-align: center !important;
}

.tui-next,
.tui-last {
  background-color: #fafafa !important;
  text-align: center !important;
  border-radius: 60px;
  display: flex;
}

.tui-prev,
.tui-first {
  background-color: #fafafa !important;
  text-align: center !important;
  margin-right: 0px !important;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  background: #6d8434 !important;
  border-color: #6d8434 !important;
}

.tui-first {
  margin-left: 0px !important;
}

.tui-page-btn .tui-next-is-ellip .tui-last-child {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0px !important;
}

.tui-pagination .tui-ico-ellip {
  margin: 0px !important;
  color: #a3a3a3 !important;
}

.tui-pagination .tui-page-btn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: #a3a3a3 !important;
  font-family: 'Neue Montreal' !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  padding: 0px !important;
}

@media screen and (min-width: 387px) {
  .tui-pagination .tui-page-btn {
    color: #a3a3a3 !important;
    font-family: 'Neue Montreal' !important;
    font-size: 13px !important;
    font-style: normal !important;
    font-weight: 500 !important;
  }
}

@media screen and (min-width: 768px) {
  .tui-pagination .tui-page-btn {
    color: #a3a3a3 !important;
    font-family: 'Neue Montreal' !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 1.42em !important;
  }
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: #e8e8e2 !important;
}

.tui-pagination .tui-ico-last,
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-first {
  margin: auto;
}

.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  justify-content: center !important;
  display: flex !important;
  border: 0px !important;
  color: #a3a3a3 !important;
}

@media screen and (min-width: 768px) {
  .tui-pagination .tui-next {
    margin-left: 24px !important;
  }
  .tui-pagination .tui-prev {
    margin-right: 24px !important;
  }
}

.tui-pagination .tui-page-btn {
  border: 0px !important;
}

.tui-page-btn:focus,
.tui-page-btn:hover {
  background-color: #fafafa !important;
}

.tui-page-btn.tui-next:focus,
.tui-page-btn.tui-next:hover,
.tui-page-btn.tui-last:hover,
.tui-page-btn.tui-last:focus,
.tui-page-btn.tui-first:focus,
.tui-page-btn.tui-first:hover,
.tui-page-btn.tui-prev:hover,
.tui-page-btn.tui-prev:focus {
  background-color: #6d8434 !important;
}

.tui-page-btn:hover,
.tui-page-btn:focus {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) !important;
}

.tui-pagination .tui-ico-ellip {
  opacity: 0.5 !important;
}

.tui-last-child,
.tui-first-child {
  pointer-events: none;
}
