.popular-product-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 14px;
  margin-top: 20px;
}
.popular-product-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
}
.product-preview {
  flex-grow: 0;
  width: 100%;
  max-width: 335px;
  height: 98px;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  font-size: 12px;
  line-height: 14px;
  color: #010101;
  background: var(--light-color);
  align-items: flex-start;
  gap: 10px;
  transition: scale 0.3s var(--transition-cub);
}

.product-preview:hover {
  transform: scale(1.05);
}

.product-preview__image-container {
  aspect-ratio: 1;
  border-radius: 10px;
  height: 100%;
  padding: 9px;
  background: var(--backgrownd-color);
}

.product-preview__info {
  overflow: hidden;
  flex-grow: 1;
}

.product-preview__heading-wrapper {
  display: flex;
  align-items: flex-start;
}

.product-preview__heading {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
  margin-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-preview__description {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}

.product-preview__sub-heading {
  color: rgba(1, 1, 1, 0.3);
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.product-preview__category {
  flex-basis: 100%;
}

.product-preview__cart-btn {
  display: inline-flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  border: none;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--backgrownd-color);
  margin-left: auto;
}

.product-preview__cart-btn > svg {
  fill: var(--primary-dark-color);
  width: 100%;
  height: 100%;
}

.product-preview__cart-btn:hover {
  background: var(--primary-dark-color);
}

.product-preview__cart-btn:hover > svg {
  fill: var(--backgrownd-color);
}

.product-preview--in-cart .product-preview__cart-btn {
  background: var(--primary-dark-color);
}
@media screen and (min-width: 768px) {
  .product-preview {
    width: 275px;
  }

  .product-preview__heading {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .popular-product-title {
    font-size: 28px;
    line-height: 1.14;
  }
}
