/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./filters.css');
@import url('./carts.css');
@import url('./pagination.css');
@import url('./popular.css');
@import url('./discount.css');
@import url('./footer.css');
@import url('./shopping-cart.css');
@import url('./modal.css');

:root {
  --MAIN-FONT: ;

  --PRIMARY-DARK-COLOR: #6D8434;
  --SECONDARY-DARK-COLOR: #586F1F;
  --THIRD-DARK-COLOR: #020202;
  --BACKGROWND-COLOR: #E8E8E2;
  --ICON-COLOR: #FDC152;
  --LIGHT-COLOR: #FAFAFA;

  --TRANSITION-CUB: cubic-bezier(0.4, 0, 0.2, 1);

}