/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./filters.css');
@import url('./carts.css');
@import url('./pagination.css');
@import url('./popular.css');
@import url('./discount.css');
@import url('./footer.css');
@import url('./shopping-cart.css');
@import url('./modal.css');

@font-face {
  font-family: NeueMontreal;
  src: url('../fonts/NeueMontreal-Regular.otf');
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: NeueMontreal;
  src: url('../fonts/NeueMontreal-Medium.otf');
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: Fontspring-DEMO-quincycf;
  src: url('../fonts/Fontspring-DEMO-quincycf-black.otf');
}
:root {
  --main-font: NeueMontreal;
  --icon-font: Fontspring-DEMO-quincycf;

  --primary-dark-color: #6d8434;
  --secondary-dark-color: #586f1f;
  --third-dark-color: #010101;
  --backgrownd-color: #e8e8e2;
  --icon-color: #fdc152;
  --light-color: #fafafa;

  --transition-cub: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: var(--main-font);
  color: var(--third-dark-color);
  background-color: var(--backgrownd-color);
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 376px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media (min-width: 769px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }
}
